<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${user}">
    <div class="ui large breadcrumb">
        <a class="section" href="/">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">${user}</div>
    </div>
    <div class="ui container grey-box">
        <div class="ui grid">
            <div class="column">
                <div class="white-box">
                    <h1 style="display: inline;">${user}</h1>
                    <img class="ui circular tiny left floated image" src="${userPhoto}">
                    <h2>${user}'s Comics</h2>
                    <#if comics ??>
                        <div class="ui large horizontal list">
                            <#list comics as comic>
                                <div class="item">
                                    <img class="ui tiny image" src="<#if comic.url??>${comic.url}<#else>#</#if>">
                                    <div class="content">
                                        <a class="header" href="/users/${user}/${comic.sluggedTitle}">${comic.title}</a>
                                        <div class="description">${comic.description}</div>
                                    </div>
                                </div>
                            </#list>
                        </div>
                        </#if>
                    <h2>${user}'s Series</h2>
                    <#if series??>
                    <#list series as s>
                            <p><a href="/users/${user}/series/${s}">${s}</a></p>
                    </#list>
                    </#if>
                    <h2>${user}'s Remixes</h2>
                </div>
            </div>
        </div>
    </div>


</@layout.myLayout>