<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${user}">

    <div class="ui container grey-box">
        <div class="ui centered padded grid">
            <h1>${user}</h1>
            <div class="row">
                <div class="sixteen wide column comic">
                    <div class="slim white-box">
                        <h2>Comics</h2>
                        <div class="ui small images">
                            <a href="/comic">
                                <img class="ui image" src="/assets/images/harrypotter.jpg" alt="Bad Hagrid">
                            </a>
                            <img class="ui image" src="/assets/images/potter2.jpg" alt="Bad Dumbledore">
                            <img class="ui image" src="/assets/images/potter3.jpg" alt="Badder Dumbledore">
                        </div>
                    </div>
                    <div class="slim white-box">
                        <h2>Series</h2>
                    </div>
                    <div class="slim white-box">
                        <h2>Remixes</h2>
                    </div>
                    <!-- tags -->
                    <!-- comments -->
                </div>
            </div>
        </div>
    </div>


</@layout.myLayout>