<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "${work}">

    <div class="ui container grey-box">
        <div class="ui centered padded stackable grid">
            <h1 class="ui header">${work}</h1>
            <h3 class="ui header"> by <a href="/${user}">${user}</a></h3>
            <div class="row">
                <div class="ten wide column comic">
                    <div class="ui white-box">
                        <img class="ui centered large image" src="/assets/images/harrypotter.jpg" alt="Bad Hagrid">
                    </div>
                    <div class="ui white-box">
                        <p>Tags:</p>
                    </div>
                    <div class="ui white-box">
                        <p>Comments:</p>
                    </div>
                    <!-- tags -->
                    <!-- comments -->
                </div>
                <div class="ui four wide column">
                    <div class="white-box">
                        <!-- eventually needs to be a news feed of some sort -->
                        <p><strong>Hagrid is a bad teacher</strong></p>
                        <a href="/series">Harry Potter</a><br/>
                        <br/>
                        <br/>
                        Remix<br/>
                        Subscribe<br/>
                        <br />
                        <br />
                        <a href="/report">Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>