<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Mixxy - Make Art Great!">

    <div class="ui container grey-box">
        <div class="ui centered padded grid">
            <div class="row">
                <div class="ten wide column">
                    <h1>Featured</h1>
                    <div class="white-box">
                        <!-- get rid of hardcoding here -->
                        <div id="featured-comics">
                            <div>
                                <h2>Bad Hagrid</h2>
                                <a href="/comic">
                                <img src="/assets/images/harrypotter.jpg" alt="Bad Hagrid">
                                </a>
                            </div>
                            <div>
                                <h2>Bad Dumbledore</h2>
                                <img src="/assets/images/potter2.jpg" alt="Bad Dumbledore 1">
                            </div>
                            <div>
                                <h2>Worse Dumbledore</h2>
                                <img src="/assets/images/potter3.jpg" alt="Bad Dumbledore 2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <h1>Latest</h1>
                    <div class="white-box feed-item">
                        <!-- eventually needs to be a news feed of some sort -->
                        <p>
                            <a href="/user">Such N. Such</a> posted a new comic
                            <img src="/assets/images/harrypotter.jpg">
                        </p>
                        <p>
                            <a href="/user">Such N. Such</a> posted a new comic</li>
                            <img src="/assets/images/harrypotter.jpg"></li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>