<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Mixxy - Make Art Great!">

    <div class="ui container grey-box">
        <div class="ui page grid">
            <div class="two column row">
                <div class="grid column">
                    <h1>Featured</h1>
                    <div class="white-box">
                        <!-- eventually needs to be a carosel -->
                        <img src="/assets/images/harrypotter.jpg" alt="Bad Dumbledore">
                    </div>
                </div>
                <div class="grid column">
                    <h1>Latest</h1>
                    <div class="white-box">
                        <!-- eventually needs to be a news feed of some sort -->
                        <ul>
                            <li>
                            <ul class="feed-item">
                                <li><a href="/user">Such N. Such</a> posted a new comic</li>
                                <li><img src="/assets/images/harrypotter.jpg"></li>
                            </ul>
                                <ul class="feed-item">
                                    <li><a href="/user">Such N. Such</a> posted a new comic</li>
                                    <li><img src="/assets/images/harrypotter.jpg"></li>
                                </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>