<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Mixxy - Make Art Great!">

    <div class="ui container grey-box">
        <div class="ui centered padded grid">
            <div class="row">
                <div class="eight wide column">
                    <h1>Featured</h1>
                    <div class="white-box">
                        <!-- eventually needs to be a carosel -->
                        <div class="featured-comics">
                            <div><img src="/assets/images/harrypotter.jpg" alt="Bad Hagrid"></div>
                            <div><img src="/assets/images/potter2.jpg" alt="Bad Dumbledore 1"></div>
                            <div><img src="/assets/images/potter3.jpg" alt="Bad Dumbledore 2"></div>
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <h1>Latest</h1>
                    <div class="white-box">
                        <!-- eventually needs to be a news feed of some sort -->
                        <ul class="feed-item">
                            <li><a href="/user">Such N. Such</a> posted a new comic</li>
                            <li><img src="/assets/images/harrypotter.jpg"></li>
                        </ul>
                        <ul class="feed-item">
                            <li><a href="/user">Such N. Such</a> posted a new comic</li>
                            <li><img src="/assets/images/harrypotter.jpg"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>