@import url(https://fonts.googleapis.com/css?family=Molengo|Bangers|Acme|Permanent+Marker|PT+Serif|PT+Sans);

body {
	background-image: url("images/bg.png");
}

a {
    color: #b10600;
}
#footer-nav a {
    color: rgba(0, 0, 0, 0.8);
}

#footer-nav a:hover, #footer-nav a:active {
    color: rgba(255, 255, 255, 0.9);
}

h1.ui.header, h1{
    font-size: 3.75rem;
    font-family: 'Bangers', cursive;
    margin-left: 4rem !important;
    margin-bottom: -2rem;
    color: gold;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-decoration: none;
}


#nav h2, h2.ui.header, h2{
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

#nav a.item:link, #nav a.item:visited, #nav a {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-decoration: none;
}

#nav a.item:hover, #nav a.item:active, .ui.link.list .item a.create:link, .ui.link.list .item a.create:visited {
    color: gold;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-decoration: none;
}

.ui.link.list .item a.create:hover, .ui.link.list .item a.create:active{
    color: #b10600;
    transition-duration: 0.5s;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}

.ui.massive.list {
    text-align: center;
}

p, .item, body{
	font-family: 'Acme', sans-serif;
	font-size: 1rem;
}

.grey-box {
	background-color: lightgrey;
	border: 2px black solid;
    margin-bottom: 2rem;
}

.white-box {
	background-color: white;
	border: 1px black solid;
    padding: 1rem;
    margin: 3rem;
}

.rounded {
	border-radius: 25px;
}

#featured-comics {
	text-align: center;
}

#featured-comics a{
    color: black;
}

.boring h1, .boring h2, .boring h3{
	font-family: "PT Serif", serif;
    color: black; !important
}

.boring p, .boring li{
	font-family: "PT Sans", Helvetica, sans-serif;
    list-style-type: circle;
}

.comic h1, .comic h2 {
	margin-top: 10px;
    margin-bottom: 20px;
}

.draw-form .ui.input, .draw-form .ui.form{
    margin: 0px 100px 20px 100px;
}

#muro {
    color: white;
    width: 980px !important;
    height: 40rem;
}

.ui.breadcrumb {
    background: none;
}

.ui.breadcrumb a.section{
    color: black;
}

.ui.breadcrumb .active.section{
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.ui.dropdown#login {
    margin-top: 10px;
    margin-right: 10px;
}

#navbox {
    margin-top: 20px;
    margin-right: 10px;
}
.ui.medium.image#logo {
    float: left;
    margin-bottom: 10px;
}

#tagline {
    margin-top: 30px;
}