<footer>
  <div class="ui container">
    <div class="ui grid">
      <div class="row">
        <div class="ten wide left floated column">
          <div id="footer-nav" class="ui horizontal inverted relaxed divided link list">
            <a class="item" href="/contact">Contact</a>
            <a class="item" href="/privacy">Privacy Policy</a>
            <a class="item" href="/about">About</a>
            <a class="item" href="/terms">Terms of Use</a>
            <a class="item" href="/copyright">Copyright</a>
          </div>
        </div>
        <div class="three wide right floated column">
          <span class="item"><i class="copyright icon"></i> 2016 www-purple</span>
        </div>
      </div>
    </div>
  </div>
</footer>

