<header>
    <div class="ui container">
        <div class="ui centered padded stackable grid">
            <div class="row">
                <div class="six wide left floated column">
                    <a href="/" class="ui medium image"><img src="/assets/images/logo.png"
                                                             alt="Mixxy - Make Art Great!"></a>
                    Make Art Great!
                </div>
                <div class="eight wide right floated column">
                    <div class="row">
                        <div class="ui text menu">
                            <div class="ui right dropdown item">
                                <#if (session.username)??>
                                    <p>Hi, <a class="item" href="#">${session.username}</a>
                                        <i class="dropdown icon"></i></p>
                                    <div class="menu">
                                        <a class="item">Subscriptions</a>
                                        <a class="item">Profile</a>
                                        <a class="item" href="/logout">${i18n("header.logout")}</a>
                                    </div>
                                    <#else>
                                        <p>Sign In
                                            <i class="dropdown icon"></i></p>
                                        <div class="menu">
                                            <a class="item" href="/login?provider=facebook"
                                               id="facebook">Facebook</a>
                                            <a class="item" href="/login?provider=google" id="google">Google</a>
                                            <a class="item">Deviant Art</a>
                                        </div>
                                </#if>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div  id="nav" class="ui relaxed massive horizontal link list">
                            <a class="item"><h2>Draw</h2></a>
                            <a class="item"><h2>Discover</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>