<header>
	<a href="/"><img src="/assets/images/logo.png" alt="Mixxy - Make Art Great!" width=200 height=auto></a>
	Make Art Great!
	<ul class="navbar-right nav navbar-nav">
		<#if (session.username)??>
			<li><a href="#">${session.username}</a></li>
			<li><a href="/logout">${i18n("header.logout")}</a></li>
			<#else>
				<li><a href="/login?provider=facebook" id="facebook">${i18n("header.facebook")}</a></li>
				<li><a href="/login?provider=google" id="google">${i18n("header.google")}</a></li>
				<li><a href="/login?provider=deviantart" id="deviantart">${i18n("header.deviantart")}</a></li>
		</#if>

	</ul>
</header>