<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Bad Hagrid">
    <!-- @toDo needs non hardcoded data pulled from ds -->

    <div class="ui container grey-box">
        <div class="ui centered padded grid">
                    <h1>Bad Hagrid</h1>
                    <h3> by <a href="/user">Some Guy</a></h3>
            <div class="row">
                <div class="twelve wide column comic">
                    <div class="white-box">
                        <img src="/assets/images/harrypotter.jpg" alt="Bad Hagrid">
                    </div>
                    <div class="white-box">
                        <p>Tags:</p>
                    </div>
                    <div class="white-box">
                        <p>Comments:</p>
                    </div>
                    <!-- tags -->
                    <!-- comments -->
                </div>
                <div class="four wide column">
                    <div class="white-box">
                        <!-- eventually needs to be a news feed of some sort -->
                            <p><strong>Hagrid is a bad teacher</strong></p>
                            <a href="/series">Harry Potter</a><br/>
                            <br/>
                            <br/>
                            Remix<br/>
                            Subscribe<br/>
                            <br />
                            <br />
                            <a href="/report">Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>