<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Draw with Muro">

    <div class="ui container grey-box">
        <div class="ui centered padded stackable grid">
            <div class="row">
                <div class="ui sixteen wide column comic">
                    <h1 class="ui header">Draw with Muro</h1>
                    <div class="ui white-box">
                        <p>Muro Editor Goes here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>