<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Create a Comic">
    <script>
    function checkform() {
        if(document.upload.muroimage.value == "") {
            alert("Comic is still processing, please try again in 30 seconds!");
            return false;
        } else if (document.upload.title.value == ""){
        	alert("Please enter a title for your comic!");
        	return false;
        } else{
            document.upload.submit();
        }
    }
    </script>
    <div class="ui large breadcrumb">
        <a class="section" href="/">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section" href="/create">Draw</div>
    </div>
    <div class="ui container grey-box">
        <div class="ui white-box">
            <div class="ui fluid accordion">
                <!-- need to be logged in -- if we're not logged in, redir to login page -->
                <div class="active title">
                    <h1>Create a Comic with Muro</h1>
                </div>
                <div class="active content">
                    <!--<div class="transition hidden"><div id="muro"></div></div>-->
                    <div id="muro"></div>
                </div>
                <div class="upload title">
                    <h1>Upload a Comic</h1>
                </div>
                <div class="draw-form content">
                    <div class="ui input">
                        <input placeholder="Choose Comic" type="file">
                        <!--//<button class="ui button">Select</button>-->
                    </div>
                </div>
            </div>
            <div class="ui centered grid">
                <div class="draw-form column comic">
                    <form method="post" class="ui form" name="upload">
                    
                    <input class="hidden" type="hidden" id="muroimage" name="muroimage">
                    
                        <h2>Details</h2>
                        <div class="required field">
                            <label>Title</label>
                            <input type="text" id="title" name="title">
                        </div>
                        <div class="field">
                            <label>Description</label>
                            <textarea rows="2" name="description"></textarea>
                        </div>
                        <div class="inline field">
                            <label>Series</label>
                            <select class="ui tags fluid search selection dropdown" name="series">
                            </select>
                        </div>
                        <div class="inline fields">
                            <div class="inline fourteen wide required field">
                                <label>Tags</label>
                                <select class="ui tags fluid multiple search selection dropdown" multiple="" name="tags">
                                    <#if series??>
                                        <#list series as s>
                                            <option value="${s}">${s}</option>
                                        </#list>
                                    </#if>
                                </select>
                            </div>
                            <div class="inline required field">
                                <div class="ui checkbox">
                                    <input class="hidden" tabindex="0" type="checkbox" name="nsfw">
                                    <label>NSFW?</label>
                                </div>
                            </div>
                        </div>
                        <button class="ui button" type="submit" onclick="return checkform()">Upload Comic</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</@layout.myLayout>